.cart {
    width: 70vw;
    height: 100vh;
    margin: 0 auto;
    margin-top: 80px;
    background-color: #cd898d;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading {
    font-size: 2rem;
    margin: 1rem;
}

table {
    margin-bottom: 1rem;
    width: 65vw;
}

table, th, td {
    border: 1px solid rgb(142, 84, 84);
    font-size: 1.2rem;
}

th, td {
    padding: 0.2rem;
}

.btn-order {
    margin-bottom: 1rem;
}

.congrats {
    font-size: 1.5rem;
}