.orderid {
    text-decoration: underline;
    color: rgb(61, 112, 95);
}

.orderid:hover {
    cursor: pointer;
}

.order-container {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    min-height: 45vh;
    width: 68vw;
    padding: 0.5rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(50px);
    align-items: center;
}

.order-header {
    display: flex;
    justify-content: space-between;
    width: 66vw;
    font-size: 2rem;
    margin: 0.5rem auto;
}

.close-btn {
    background: none;
    height: 2rem;
    width: 2rem;
    border: 1px solid rgb(142, 84, 84);
}

.orderdetail-table {
    width: 66vw;
    margin: 1rem auto;
}